body {
    font-family: 'Lato', sans-serif;
    background-color: aliceblue;
    margin: 0;
}

.country-info {
    font-size: 25px;
    font-weight: bold;
}

.country-bar {
    background-color: black;
    height: 30px;
    width: 7px;
    border-radius: 30px;
    margin-right: 8px;
}

.country {
    display: flex;
    flex-direction: row;
    flex-basis: 1rem;
}

.country-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin: 8vh 10vw;
    padding: 9vh 4vw;
    background-color: white;
    border-radius: 30px;
}
.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time-block {
    display: flex;
    flex-direction: row;
    width: 50%;
   
}

.time-meridian {
    margin-left: 9px;
    margin-top: 8px;
    margin-right: 8px;
}
.vertical-line {
    position: absolute;
    top: 7.5%;
  right: 56.5vw;
  border-left: 2px dashed #f00;
  height: 100%;
  width: 1px;
  margin-right: -20%; 
}

.time-bar{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.time-bar-block {
    min-width: 100%;
    display: flex;
   
}
.time-bar-block-two {
    min-width: 100%;
    display: flex;
   
}

.bar{
    display: flex;
    flex-direction: row;
}
.bar-1, .bar-6 {
    width: 20.83%;
    height: 100%;
    background-color: black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.bar-2, .bar-7 {
    width: 16.66%;
    height: 100%;
    background-color: orange;
}
.bar-3, .bar-8 {
    width: 33.33%;
    height: 100%;
    background-color: green;
}
.bar-4, .bar-9 {
    width: 16.66%;
    height: 100%;
    background-color: orange;
}
.bar-5, .bar-10 {
    width: 12.5%;
    height: 100%;
    background-color: black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media only screen and (max-width: 500px) {
    #main-container {
        margin: 1vh 1vh;
        padding: 9vh 4vw;
        border-radius: 0;
    }
    body {
        margin: 0;
    }
    .time {
        margin-top: -10%;
       
    }
    .time-block {
        display: block;
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 1200px){
    .vertical-line {
        display: none;
    }
}
@media only screen and (min-width: 2570px){
    .vertical-line {
        display: none;
    }
}